<div class="row">
    <div class="col-md-2 example-card"  style="margin-left:20px;">
     
        <mat-card  (click)="viewHomePage()">
          <mat-card-title >
            <small class="text-muted"> Home Page  Content</small>
            <span ></span>
          </mat-card-title>
          
        </mat-card>
      </div>
      <div class="col-md-2 example-card"  style="margin-left:20px;">
     
          <mat-card  >
            <mat-card-title >
              <small class="text-muted"> Products</small>
              <h3 class="m-0 font-normal">{{productModel?.length}}</h3>
              <span ></span>
            </mat-card-title>
            
          </mat-card>
        </div>
        <div class="col-md-2 example-card"  style="margin-left:20px;">
     
          <mat-card  (click)="viewOrdersPage()">
            <mat-card-title >
              <small class="text-muted"> Orders</small>
              <h3 class="m-0 font-normal">{{orderModel?.length}}</h3>
              <span ></span>
            </mat-card-title>
            
          </mat-card>
        </div>
</div>