<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar ">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name"></h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-accordion multi="true">

        <mat-expansion-panel class="no-shadow">
          <mat-expansion-panel-header fxLayout="row">
            <mat-panel-title>
            Category
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list class="ml-0" dense>
            <mat-list-item routerLink="/category/supercategory">
              <a>Super Category</a>
            </mat-list-item>
            <mat-list-item>
              <a routerLink="/category/maincategory">Main Category</a>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel class="no-shadow">
          <mat-expansion-panel-header fxLayout="row">
            <mat-panel-title>
             Product
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list class="ml-0" dense>
            <mat-list-item routerLink="/product/addproducts">
              <a>Upload Product</a>
            </mat-list-item>
            <mat-list-item>
              <a routerLink="/product/viewproducts">Manage Product</a>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel class="no-shadow">
          <mat-expansion-panel-header fxLayout="row">
            <mat-panel-title>
            Inventory
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list class="ml-0" dense>
            <mat-list-item routerLink="/inventory/inventoryhealth">
              <a> Inventory Health</a>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel class="no-shadow">
            <mat-expansion-panel-header fxLayout="row">
              <mat-panel-title>
              Settings
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list class="ml-0" dense>
              <mat-list-item routerLink="/settings/regions">
                <a> Region</a>
              </mat-list-item>
            </mat-nav-list>
          </mat-expansion-panel>
          <mat-expansion-panel class="no-shadow">
              <mat-expansion-panel-header fxLayout="row">
                <mat-panel-title>
               MOQ
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-nav-list class="ml-0" dense>
                <mat-list-item routerLink="/moq/createmoq">
                  <a> Add MOQ</a>
                </mat-list-item>
              </mat-nav-list>
              <mat-nav-list class="ml-0" dense>
                  <mat-list-item routerLink="/moq/viewmoq">
                    <a> View MOQ</a>
                  </mat-list-item>
                </mat-nav-list>
            </mat-expansion-panel>
      </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>