.mat-menu-item {
  width: 48px;
  height: 48px;
  padding: 5px;
}

.mat-form-field {
  display: block !important;
  position: relative;
  text-align: left;
}

.mat-icon-button {
  color: inherit;
  background: 0 0;
  border: none;
}

.matSearch {
  display: inline-block !important;
}

.mat-header-cell {
  font-weight: 700 !important;
}

/* image view */

.mat-card {
  padding: 8px;
  border-radius: 4px;
  margin-top: 20px;
}