<div class="pageBoxLg ">
    <label class="pageBoxLg-label ">Add Region</label>
  <form [formGroup]="addRegionForm" novalidate style="padding-top:60px">
    <div class="container-fluid">
        
      <div class="row">
          <div class="form-group col-md-4">
            <mat-form-field class="example-full-width">
              <mat-select #selectedregion placeholder="Region Name" formControlName="regionName" (selectionChange)="showCurrency(selectedregion.value)">
  <mat-option *ngFor="let data of region" [value]="data">{{data.country}}</mat-option>
                 </mat-select>
                
            </mat-form-field>
            <div *ngFor="let data of regionDetail">
                <div *ngIf="data.checkRegionName">
                    Region  already exists
                </div>
              </div> 
          </div>
          <div class="form-group col-md-4">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Currency" formControlName="currency" [(ngModel)]="currencyValue">
              <mat-error *ngIf="addRegionForm.controls['currency'].errors?.required">
                Currency is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group col-md-2">
            <button mat-raised-button color="accent" type="submit" (click)="addRegion()" [disabled]='showRegionName'>Save</button>
            <br>
          </div> 
      </div>
      <div class="row">  
          <div class="col-md-12 mx-auto">
        <table mat-table [dataSource]="regionData" class="container-fluid ">
          <ng-container matColumnDef="regionName">
            
            <th mat-header-cell *matHeaderCellDef class="pageBoxLg-label">  Region Name</th>
            <td mat-cell *matCellDef="let element"> {{element.regionName}} </td>
          </ng-container>
          <ng-container matColumnDef="currency"  >
              <th mat-header-cell *matHeaderCellDef class="pageBoxLg-label"> Currency</th>
              <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
            </ng-container>
       
          <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef class="pageBoxLg-label"> Delete</th>
              <td mat-cell *matCellDef="let element"> <button mat-icon-button mat-sm-button color="primary"
                (click)="deleteRegion(element)">
                 <mat-icon>delete</mat-icon>
               </button></td>
            </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
          </div>
      </div>
    </div>
  </form>
</div>
